@font-face {
    font-family: font;
    src: url(asset/font/GTZirkon-Book.woff2);
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: font;
}
.header-main{
    background-color: #ffe8dc;
}
.header span{
    position: relative;
    top:35px;
    left: 350px;
    color: #2b2b2b;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header li{
    position: relative;
    left: 700px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.header a:hover{
    cursor: pointer;
    color: #07691c;
}
.header li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #b5b5b5;
}
.messages{
    position: relative;
    width: 73%;
    left: 350px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #2b2b2b;
}
.messages h2{
    font-weight: 400;
}
.input{
    font: font;
    margin-top: 20px;
    margin-left: 350px;
}
.input span{
    color: red;
}
input{
    width: 22%;
    background-color:rgb(243, 239, 239);
    border: none;
}
textarea{
    background-color: rgb(243, 239, 239);
    border: none;
}
.submit input{
    font-family: font;
    color: white;
    margin: 0;
    padding: 10px;
    width: 7%;
    background-color: black;
    position: relative;
    top: 10px;
    left: 350px;
    font-size: 12px;
}
.bottom{
    display: flex;
    margin-top: 30px;
    margin-left: 350px;
    column-gap: 50px;
    align-self: center;
    padding-bottom: 20px;
}
.bottom a{
    text-decoration: none;
    color: #2b2b2b;
}
.section li {
    padding-top: 10px;
    padding-bottom: 20px;
}
.section li span a{
    color: #b5b5b5;
}
.social a{
    display: grid;
    line-height: 40px;
}
.footer{
    display: flex;
    gap: 200px;
    color: #b5b5b5;
    font-size: 12px;
    margin-left: 350px;
}
.footer a{
    color: #b5b5b5;
}
@media screen and (max-width:320px){
    body{
        width: 100%;
    }
    .header-main{
        margin-left: -330px;
        overflow: hidden;
    }
    .input{
        margin-left: 20px;
    }
    input{
        width: 70%;
    }
    .submit input{
        width: 30%;
        left: 20px;
    }
    footer{
        position: relative;
        left: -320px;
    }
    .footer div{
        white-space: nowrap;
    }
    .footer a{
        color: transparent;
    }
}
/* @media screen and (max-width:768px){
    body{
        width: 100%;
    }
    .header-main{
        margin-left: -330px;
        overflow: hidden;
    }
    .input{
        margin-left: 300px;
    }
    input{
        width: 28%;
    }
    .submit input{
        width: 12%;
        left: 300px;
    }
    footer{
        position: relative;
        left: -50px;
    }
    .footer div{
        white-space: nowrap;
    }
    .footer a{
        color: transparent;
    }
} */